body {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

#resultado-container {
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}